.App {
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loader {
  color: blue;
}

.title {
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  white-space: nowrap;
  font-weight: bold;
}

.score {
  margin-top: 15px;
  margin-top: 5px;
}

input {
  width: 100% !important;
  max-width: 70% !important;
}

.slick-next:before {
  position: absolute;
  right: -30px;
  color:black;
  font-size: 40pt;
}

.slick-prev:before {
  position: absolute;
  left: -30px;
  color:black;
  font-size: 40pt;
}

@media (max-width: 630px) {
  .slick-next:before, .slick-prev:before {
    display: none;
  }
}
