.App {
  text-align: center;
}

body {
  /* background-color: black; */
}

.cards {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 0 2px;
}

.loader {
  color: blue;
}

img:hover {
  transform: scale(1.05);
}

img {
  transition: transform .3s;
}
