.App {
  text-align: center;
}

body {
  /* background-color: black; */
}

.loader {
  color: blue;
}

.title {
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  white-space: nowrap;
}

.score {
  margin-top: 15px;
  margin-top: 5px;
}
