.cards {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 0 2px;
  min-width: 500px;
  width: 225px;
  display: flex;
}

.card p {
  font-size: 12px;
}
.image_size {
  width: 100%;
  height: 314px;
}

.image_size img {
  max-width: 100%;
  height: 100%;
}

img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

img {
  transition: transform .3s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}
